WebClient/WebClient/Connected Services/ServiceReference1/EventService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duraction" type="xs:int" />
      <xs:element minOccurs="0" name="Event_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registration_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Strength" type="xs:int" />
      <xs:element minOccurs="0" name="is_group" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
</xs:schema>